In [ ]:
#1. Write a Pandas program to create and display a one-dimensional array-like object containing an array of data using Pandas module
import pandas as pd

# Creating a one-dimensional array-like object (Series) using Pandas
data = pd.Series([10, 20, 30, 40, 50])

# Displaying the array-like object
print("One-dimensional array-like object:")
print(data)

In [1]:
#2. Write a Pandas program to convert a Panda module Series to Python list and it's type
import pandas as pd

# Creating a Pandas Series
data = pd.Series([10, 20, 30, 40, 50])

# Converting Pandas Series to Python list
data_list = data.tolist()

# Determining the type of the converted list
list_type = type(data_list)

print("Pandas Series:")
print(data)
print("\nConverted Python list:")
print(data_list)
print("\nType of converted Python list:")
print(list_type)

Pandas Series:
0    10
1    20
2    30
3    40
4    50
dtype: int64

Converted Python list:
[10, 20, 30, 40, 50]

Type of converted Python list:
<class 'list'>

In [2]:
#3. Write a Pandas program to compare the elements of the two Pandas Series
import pandas as pd

# Creating two Pandas Series
series1 = pd.Series([10, 20, 30, 40, 50])
series2 = pd.Series([15, 25, 35, 45, 55])

# Comparing elements of the two Pandas Series
comparison_result = series1 == series2

print("Series 1:")
print(series1)
print("\nSeries 2:")
print(series2)
print("\nComparison Result (Equality):")
print(comparison_result)

Series 1:
0    10
1    20
2    30
3    40
4    50
dtype: int64

Series 2:
0    15
1    25
2    35
3    45
4    55
dtype: int64

Comparison Result (Equality):
0    False
1    False
2    False
3    False
4    False
dtype: bool

In [3]:
#4. Write a Pandas program to change the data type of given a column or a Series.
import pandas as pd

# Creating a Pandas Series
data = pd.Series([10, 20, 30, 40, 50])

# Displaying the original data type
print("Original Data Type:")
print(data.dtype)

# Changing the data type of the Series to float
data_float = data.astype(float)

# Displaying the new data type and the converted Series
print("\nConverted Series:")
print(data_float)
print("\nNew Data Type:")
print(data_float.dtype)

Original Data Type:
int64

Converted Series:
0    10.0
1    20.0
2    30.0
3    40.0
4    50.0
dtype: float64

New Data Type:
float64

In [ ]:
# 5. Write a Pandas program to get the powers of an array values element-wise.
# Note: First array elements raised to powers from second array
# Sample data: {'X':[78,85,96,80,86], 'Y':[84,94,89,83,86],'Z':[86,97,96,72,83]}
# Expected Output:
# X Y Z
# 0 78 84 86
# 1 85 94 97
# 2 96 89 96
# 3 80 83 72
# 4 86 86 83

import pandas as pd
import numpy as np

# Sample data
data = {'X': [78, 85, 96, 80, 86], 'Y': [84, 94, 89, 83, 86], 'Z': [86, 97, 96, 72, 83]}

# Creating a DataFrame from the sample data
df = pd.DataFrame(data)

# Getting the powers element-wise
powers_df = df.apply(np.power, args=(2,))

# Displaying the original DataFrame and the powers DataFrame side by side
result = pd.concat([df, powers_df], axis=1)
result.columns = ['X', 'Y', 'Z', 'X^2', 'Y^2', 'Z^2']

print(result)

In [11]:
# 6. Write a Pandas program to get the first 3 rows of a given DataFrame.
# Sample Python dictionary data and list labels:
# exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 
# 'Matthew', 'Laura', 'Kevin', 'Jonas'],
# 'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
# 'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
# 'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
# labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
# Expected Output:
# First three rows of the data frame:
# attempts name qualify score
# a 1 Anastasia yes 12.5
# b 3 Dima no 9.0
# c 2 Katherine yes 16.5

import pandas as pd
import numpy as np

# Sample data
exam_data = {
    'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
    'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
    'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']
}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

# Creating a DataFrame
df = pd.DataFrame(exam_data, index=labels)

# Getting the first 3 rows of the DataFrame
first_three_rows = df.head(3)

print("First three rows of the data frame:")
print(first_three_rows)

First three rows of the data frame:
        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes