# Write the code to answer the following questions

# 0- Imports

In [25]:
# Import neccessary libraries

In [26]:
import pandas as pd
from warnings import filterwarnings
filterwarnings("ignore")

# 1- Read Salaries.csv as DataFrame & Call it `sal`.

In [27]:
# Read the data

In [28]:
sal = pd.read_csv("Salaries.csv")

# 2- Check the head of the DataFrame

In [29]:
# write the answer here

In [30]:
sal.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.6,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.0,56120.71,198306.9,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.6,9737.0,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

# 3- Use the .info() method to find out how many entries there are.

In [31]:
# write the answer here

In [32]:
sal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148049 non-null  object
 4   OvertimePay       148654 non-null  object
 5   OtherPay          148654 non-null  object
 6   Benefits          112495 non-null  object
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            38119 non-null   object
dtypes: float64(3), int64(2), object(8)
memory usage: 14.7+ MB

# 4- Convert BasePay & OvertimePay columns to numerical columns

In [33]:
# write the answer here
# Hint: you need to google search for this or ask ChatGPT

In [34]:
sal['BasePay'] = pd.to_numeric(sal['BasePay'], errors='coerce')
sal['OvertimePay'] = pd.to_numeric(sal['OvertimePay'], errors='coerce')

# 5- What is the average BasePay?

In [35]:
# write the answer here

In [36]:
sal['BasePay'].mean()

66325.4488404877

# 6- What is the highest amount of OvertimePay in the dataset?

In [37]:
# write the answer here

In [38]:
sal['OvertimePay'].max()

245131.88

# 7- What is the job title of  JOSEPH DRISCOLL?

In [39]:
# write the answer here

In [40]:
sal[sal['EmployeeName'] == 'JOSEPH DRISCOLL']['JobTitle']

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

# 8- How much does JOSEPH DRISCOLL make (including benefits)?

In [41]:
# write the answer here

In [42]:
sal[sal['EmployeeName'] == 'JOSEPH DRISCOLL']['TotalPayBenefits']

24    270324.91
Name: TotalPayBenefits, dtype: float64

# 9- What is the name of highest paid person (including benefits)?

In [43]:
# write the answer here

In [44]:
sal.loc[sal['TotalPayBenefits'].idxmax()]

Id                                                               1
EmployeeName                                        NATHANIEL FORD
JobTitle            GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY
BasePay                                                  167411.18
OvertimePay                                                    0.0
OtherPay                                                 400184.25
Benefits                                                       NaN
TotalPay                                                 567595.43
TotalPayBenefits                                         567595.43
Year                                                          2011
Notes                                                          NaN
Agency                                               San Francisco
Status                                                         NaN
Name: 0, dtype: object

# 10- What is the name of lowest paid person (including benefits)? Do you notice something strange about how much he or she is paid

In [45]:
# write the answer here

In [46]:
sal.loc[sal['TotalPayBenefits'].idxmin()]
# Yeah , I Noticed , There Is SomeThing Strange Where Being "female" her TotatPayBenefits Is Negative ()
  # TotalPayBenefits Is Negative

Id                                      148654
EmployeeName                         Joe Lopez
JobTitle            Counselor, Log Cabin Ranch
BasePay                                    0.0
OvertimePay                                0.0
OtherPay                               -618.13
Benefits                                  0.00
TotalPay                               -618.13
TotalPayBenefits                       -618.13
Year                                      2014
Notes                                      NaN
Agency                           San Francisco
Status                                      PT
Name: 148653, dtype: object

# 11- What was the average (mean) BasePay of all employees per year? (2011-2014)?

In [47]:
# write the answer here

In [48]:
sal.groupby('Year').mean()['BasePay']

Year
2011    63595.956517
2012    65436.406857
2013    69630.030216
2014    66564.421924
Name: BasePay, dtype: float64

# 12- How many unique job titles are there?

In [49]:
# write the answer here

In [50]:
sal['JobTitle'].nunique()

2159

# 13- What are the top 5 most common jobs?

In [51]:
# write the answer here

In [52]:
sal['JobTitle'].value_counts().head()

Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: JobTitle, dtype: int64

# 14- How many Job Titles were represented by only one person in 2013? (e.g. Job Titles with only one occurence in 2013?)

In [53]:
# write the answer here

In [54]:
sum(sal[sal["Year"] == 2013]['JobTitle'].value_counts() == 1)

202

# 15- How many people have the word Chief in their job title? (This is pretty tricky)

In [55]:
# write the answer here

In [56]:
def chief_test(job_title):
    if 'chief' in job_title.lower():
        return True
    else:
        return False

In [57]:
sum(sal['JobTitle'].apply(lambda x: chief_test(x)))

627

In [58]:
# Another Solution
sum(sal['JobTitle'].str.lower().str.contains('chief'))

627

# 16- Bonus: Is there a correlation between length of the Job Title string and Salary?

In [59]:
# write the answer here

In [60]:
def lenofstr(s_val):
  length = len(s_val.replace(" " , ""));
  return length;
title_len = sal['JobTitle'].apply(lambda x : lenofstr(x))
sal.insert(3,"title_len" , title_len) #executed
sal

,Id,EmployeeName,JobTitle,title_len,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,43,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),28,155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),28,212739.13,106088.18,16452.6,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,32,77916.00,56120.71,198306.9,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",40,134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
148649,148650,Roy I Tillery,Custodian,9,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,PT
148650,148651,Not provided,Not provided,11,NaN,NaN,Not Provided,Not Provided,0.00,0.00,2014,NaN,San Francisco,NaN
148651,148652,Not provided,Not provided,11,NaN,NaN,Not Provided,Not Provided,0.00,0.00,2014,NaN,San Francisco,NaN
148652,148653,Not provided,Not provided,11,NaN,NaN,Not Provided,Not Provided,0.00,0.00,2014,NaN,San Francisco,NaN
148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",23,0.00,0.00,-618.13,0.00,-618.13,-618.13,2014,NaN,San Francisco,PT

In [61]:
sal[["TotalPayBenefits","title_len"]].corr()
#There Is No Correlation

                  TotalPayBenefits  title_len
TotalPayBenefits          1.000000  -0.036397
title_len                -0.036397   1.000000

# Great Job!